html, body {
    background-color:white;
    overflow:hidden;
    margin:0px; padding:0px;
}

board {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    width:1400px; height:1085px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size:contain;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    transform-origin: 0% 0%;
    background-image: url(../images/boardbdb.jpg);
}

robot {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    cursor: url(../images/handcursor), pointer;
    background-size: auto 60px;
    /*width: 64px; height: 94px;*/
    width: 60px; height: 60px;
}

robot:after {
    content: attr(number);
    font-weight: bold;
    position:absolute;
    top: 10px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}