html, body {
    background-color:white;
    overflow:hidden;
    margin:0px; padding:0px;
}

board {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    width:1400px; height:1085px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size:contain;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
    transform-origin: 0% 0%;
    background-image: url(../images/board.png);
}

robot {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    cursor: url(../images/handcursor), pointer;
    background-size:contain;
    width: 64px; height: 94px;
}
